// Specific CSS for your home-page
.semi_banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1527192491265-7e15c55b1ed2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=749f8fec9b7cf4a040ae12df54cc7443&auto=format&fit=crop&w=2250&q=80');
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  margin-top: 50px;
}

.center {
  font-weight: 300;
  font-size: 20px;
  color: #464646;
  line-height: 1.6em;
  padding: 0;
  margin-top: 50px;
  text-align: center;
}

.container {
  width: 900px;
}

p {
  font-weight: bold;
  font-size: 16px;
}
