// Import page-specific CSS files here.
@import "home";
@import "show";
@import "new";


.myflexbox {
display: flex;
// align-items: center;
// justify-content: space-between;
}

.mymap {
  top: 0 !important;
  height: 100vh !important;
  width: 100%;
  position: sticky !important;
  // img {
  //   height: inherit;
  //   width: inherit;
  // }
}

.cards-container {
  flex: 1 0 70%;
}

.desc {
  width: 350px;
  word-wrap: break-word;
}

#searchbar {
  margin-bottom: 20px;
  margin-top: 20px;
}
