.coworking-global-view {
height: calc(100vh - 270px);
}

#coworking-summary {
  flex: 0 0 25%;

}

#coworking-picture {
// flex: 0 0 75%;
// background-image: url(https://cdn-images-1.medium.com/max/1600/1*LYhgLWlP3xct4D66ySur5w.png);
// background-repeat: no-repeat;
display: flex;
height: 50vh;
background-size: cover !important;
border-radius: 10px;
overflow: hidden;
// position: relative;
// right: 0px;
}

.first-line {
  height: 85%;
  display: flex;
}

.second-line {
  display: flex;
  height: 15%;
  justify-content: space-around;
  align-items: center;
  position: sticky !important;
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  margin-top: 20px;

}

.coworking-global-view {
height: calc(100vh - 270px);
}

// .text-center {
//   text-align: center;
// }

.checked {
    color: orange;
}

.icon {
  color: gray;
}

#service-amenities {
  padding-left: 30px;
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
}

ul {
    list-style-type: none;
}

.section {

  font-weight: bold;
}

