<h1> Here are your bookings </h1>


<div class="container">

  <div class="row">

    <% @bookings.each do |bookings|%>
    <div class="col-xs-12 col-sm-4">
    <div class="card">

      </div>
    </div>
      <% end %>
  </div>
</div>



coworkings_spaces/id/bookings
