<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
<%= simple_form_for([@coworking_space, @booking]) do |f| %>
  <%= f.input :start_datetime %>
  <%= f.input :end_datetime %>
  <%= f.submit 'Confirm', class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  //const flatpickr = require("flatpickr");
  console.log(flatpickr)
  flatpickr("#booking_start_datetime", {});
  flatpickr("#booking_end_datetime", {});
</script>

