<h2>Bookings:</h2>
<p>
  Thank you for your reservation, we look forward to seein you soon @
  <%= @booking.coworking_space.name %> from
  <%= @booking.start_datetime %> to <%= @booking.end_datetime %>
</p>

