<div class="footer">
  <div class="footer-copyright">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Pricing</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Our Story</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact us</a>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

</div>
